@model ReservationViewModel
@{
    ViewData["Title"] = "DoAppointment";
}

<h2>Do Reservation</h2>

<div class="container">
    
    <form asp-controller="Home" asp-action="DoFinalReservation" method="post">
        Patient's Name: <input asp-for="Patient.Name" /><br />
        Patient's SecondName: <input asp-for="Patient.SecondName" /><br />
        Patient's Email: <input asp-for="Patient.Phone" /><br />
        Patient's Email: <input asp-for="Patient.Email" /><br />

        Comments:  <input asp-for="Comments" /> <br />

        <input asp-for="Start" value="@Model.Start" type="hidden" />
        <input asp-for="End" value="@Model.End" type="hidden" />

        <button type="submit">Complete Reservation</button>
    </form>

</div>

