@model DReservation.Models.Domain.Reservation

<!DOCTYPE html>

<html>
<head>
    <title>Your application is taken!</title>
</head>
<body>
<div>
    <h2>Your application is taken!</h2>
</div>
</body>
</html>